In [156]:
# import dependencies
import pandas as pd
import numpy as np
import json
import os
import csv

In [157]:
# raw data file
file_to_load = "Resources/purchase_data.csv"

In [158]:
# read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [159]:
# PLAYER COUNT
# use the length of list of screen names "SN" for total players.
total_players = len(purchase_data["SN"].value_counts())

In [160]:
# create a data frame with total players named player count
player_count = pd.DataFrame({"Total Players":[total_players]})
player_count

   Total Players
0            576

In [161]:
# PURCHASING ANALYSIS (TOTAL)
# run basic calculations for unique items, average price, number of purchases, and total revenue
number_of_unique_items = len((purchase_data["Item ID"]).unique())
average_price = (purchase_data["Price"]).mean()
number_of_purchases = (purchase_data["Purchase ID"]).count()
total_revenue = (purchase_data["Price"]).sum()

In [162]:
# create a summary data frame to hold the results
summary_df = pd.DataFrame({"Number of Unique Items":[number_of_unique_items],
                           "Average Price":[average_price], 
                           "Number of Purchases": [number_of_purchases], 
                           "Total Revenue": [total_revenue]})

In [163]:
# give displayed data a cleaner formatting (currency style)
summary_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

In [164]:
# GENDER DEMOGRAPHICS
# group purchase data by gender
gender_stats = purchase_data.groupby("Gender")

In [165]:
# count total of screen names "SN" by gender
total_count_gender = gender_stats.nunique()["SN"]

In [166]:
# total count by gender and divivde by total players 
percentage_of_players = total_count_gender / total_players * 100

In [167]:
# create data frame with obtained values
gender_demographics = pd.DataFrame({"Percentage of Players": percentage_of_players, "Total Count": total_count_gender})

In [168]:
# format the data frame with no index name in the corner
gender_demographics.index.name = None

In [169]:
# format the values sorted by total count in descending order with two decimal places for the percentage
gender_demographics.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}"})

In [170]:
# PURCHASING ANALYSIS (GENDER)
# run basic calculations for total purchases, average price, number of purchases, and total revenue
purchase_count = gender_stats["Purchase ID"].count()
avg_purchase_price = gender_stats["Price"].mean()
avg_purchase_total = gender_stats["Price"].sum()
avg_purchase_per_person = avg_purchase_total/total_count_gender

In [171]:
# create data frame with obtained values 
gender_demographics = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": avg_purchase_price,
                                    "Average Purchase Value":avg_purchase_total,
                                    "Avg Purchase Total per Person": avg_purchase_per_person})

In [172]:
# provide index in top left as "Gender"
gender_demographics.index.name = "Gender"

In [173]:
# format with currency style
gender_demographics.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})

In [174]:
# AGE DEMOGRAPHICS
# establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [175]:
# categorize existing players using age bins
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=group_names)

In [176]:
# create new data frame with the added "Age Group" and group it
age_grouped = purchase_data.groupby("Age Group")

In [177]:
# count total players by age category
total_count_age = age_grouped["SN"].nunique()

In [178]:
# calculate percentages by age category 
percentage_by_age = (total_count_age/total_players) * 100

In [179]:
# create data frame with obtained values
age_demographics = pd.DataFrame({"Percentage of Players": percentage_by_age, "Total Count": total_count_age})

In [180]:
# format the data frame with no index name in the corner
age_demographics.index.name = None

In [181]:
# format percentage with two decimal places 
age_demographics.style.format({"Percentage of Players":"{:,.2f}"})

In [182]:
# PURCHASING ANALYSIS BY AGE
# count purchases by age group
purchase_count_age = age_grouped["Purchase ID"].count()

In [183]:
# obtain average purchase price by age group 
avg_purchase_price_age = age_grouped["Price"].mean()

In [184]:
# calculate total purchase value by age group 
total_purchase_value = age_grouped["Price"].sum()

In [185]:
# calculate the average purchase per person in the age group 
avg_purchase_per_person_age = total_purchase_value/total_count_age

In [186]:
# create data frame with obtained values
age_demographics = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value":total_purchase_value,
                                 "Average Purchase Total per Person": avg_purchase_per_person_age})

In [187]:
# format the data frame with no index name in the corner
age_demographics.index.name = None

In [188]:
# format with currency style
age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

In [189]:
# TOP SPENDERS
# group purchase data by screen names
spender_stats = purchase_data.groupby("SN")

In [190]:
# count the total purchases by name
purchase_count_spender = spender_stats["Purchase ID"].count()

In [191]:
# calculate the average purchase by name 
avg_purchase_price_spender = spender_stats["Price"].mean()

In [192]:
# calculate purchase total 
purchase_total_spender = spender_stats["Price"].sum()

In [193]:
# create data frame with obtained values
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})

In [194]:
# sort in descending order to obtain top 5 spender names 
formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

In [195]:
# format with currency style
formatted_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

In [196]:
# MOST POPULAR ITEMS
# create new data frame with items related information 
items = purchase_data[["Item ID", "Item Name", "Price"]]

In [197]:
# group the item data by item id and item name 
item_stats = items.groupby(["Item ID","Item Name"])

In [198]:
# count the number of times an item has been purchased 
purchase_count_item = item_stats["Price"].count()

In [199]:
# calcualte the purchase value per item 
purchase_value = (item_stats["Price"].sum())

In [200]:
# find individual item price
item_price = purchase_value/purchase_count_item

In [201]:
# create data frame with obtained values
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})

In [202]:
# sort in descending order to obtain top spender names and provide top five item names
popular_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

In [203]:
# format with currency style
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

In [204]:
# MOST PROFITABLE ITEMS
# take the most_popular items data frame and change the sorting to find highest total purchase value
popular_formatted = most_popular_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()

In [205]:
# format with currency style
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})